<%- include("../partials/header") %>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to our Car Rental Service</h1>
        <p class="lead">we offer economy to super car rentals</p>
        <hr class="my-4">
        <p>We have everything that you could possible want!</p>
    </div>
<%- include("../partials/footer") %>